@model Product

<div class="card" style="width: 800px;">
    <div class="row">
        <div class="col-3 bg-transparent ">
            <div class="container" style="height: auto;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/500x500.jpg" class="img-fluid" style="max-width:100%; max-height:100%" />
            </div>
        </div>

        <div class="col-6 bg-transparent text-dark">
            <p class="mt-5"> Un Chelios </p>
        </div>

        <div class="col-3 bg-transparent text-dark ">
            <p class="text-right mt-5"> 75 Lei </p>
        </div>

    </div>

</div>