@model List<CartViewModel>

<table class="table" >

    <tr>
        <th>
            <h3 class="text-dark" > Product Name </h3>
        </th>
        <th>
            <h3> Price </h3>
        </th>
        <th>
            <h3> Remove </h3>
        </th>
    </tr>

    @foreach ( var p in Model )
    {
            <tr>

                <th> @p.Product.Name </th>
                <th> @p.Product.Price </th>
                <th>
                    <a asp-controller="Cart" asp-action="Delete" asp-route-id="@p.CartProduct.Id" > Remove </a>
                </th>

            </tr>
    }

<a class="btn btn-primary bg-success text-white" asp-controller="Order" asp-action="Form" asp-route-id="@Model." > Finalize Order </a>


</table>


