

@model Order

<div class="row">
    <div class="col-12 bg-transparent">

        <div class="border bg-success ">
            <div class="containter bg-transparent text-light">
                <h1 class="text-center pt-4 "> Thanks for choosing us! </h1>
                <p class="text-center  pb-3"> Your order id is <a class="text-decoration-underline"
                                                                  asp-controller="Order"
                                                                  asp-action="Details"
                                                                  asp-route-id="@Model.Id">@Model.Id</a>
            </div>

        </div>
    </div>
</div>