@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Order

<div class="row">
    <div class="col-12 bg-transparent">

        <div class="border bg-success ">
            <div class="containter bg-transparent text-light">
                <h1 class="text-center pt-4 "> Thanks for choosing us! </h1>
                <p class="text-center  pb-3"> Your order id is <span class="text-decoration-underline">@Model.Id</span>
            </div>

        </div>
    </div>
</div>