@model List<ShowOrdersViewModel>

<h1> Your Orders </h1>
<hr />

<div class="containter bg-transparent">

    <div class="container py-5" style=" background: #e3f1f9;">
        @foreach (var order in Model)
            @Html.Partial("_OrderProductShow", order.Orders)
    </div>
    

</div>
