@model List<ShowOrdersViewModel>

<h1> Your Orders </h1>
<hr />

<div class="containter bg-transparent">

    @foreach (var order in Model)
            @Html.Partial("_OrderProductShow",order.Orders)

</div>
